<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepCounterWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WidgetCraftExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3E0D8582F014F3E00CDDEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E0D8652F014F4000CDDEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E0D86F2F014F4000CDDEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E0D8862F014F7500CDDEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
